body{

background-color: #FEFAF9;
background-attachment: fixed;

}



#container
{
	margin-top:60px;
	width: 800px;
	height: 1000px;
	background-color: #f8dbd3;
	margin-right: auto;
	margin-left: auto;
	border-radius: 3px;


}

#comment-box
{
	height: 100px;
	width: auto;
	border-bottom: 2px solid #666;


}

#comments-box
{
	height: 900px;
	width: auto;
	overflow: scroll;


}


#comment-holder  {
    
    
    position: relative;
    float: left;
    padding: 10px;
   
    height: 80px;
    width: 600px;
  

    

}

#button
{

background-color:#9999ff;
width: 170px;
height: 82px;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
float:left;
 text-align: center;
 border-radius: 5px;


}

#button:hover
{
cursor: pointer;
background-color: #b3b3ff;

}
textarea {

	resize: none;
	width: 580px;
	height: 60px;
	padding: 10px;
	border-radius: 5px;
}

#counter{
	right: 12px;
	top: -3px;

	position: absolute;
}


li {
  list-style: none;
  padding: 3px;

}
li:before {
  /* For a round bullet */
  content: '\2022';
  /* For a square bullet */
  /*content:'\25A0';*/
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -10px;
  top: 0;
  
  color: green;
  font-size: 20px;
  
  
}


h3{

	font-size: 45px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 250px;
}

